.container__pharse-card {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    .tittle {
        text-align: center;
        font-size: 3rem;
        letter-spacing: 4px;
        font-weight: 500;
    }
}
.bg-1 {
    background-image : url('./assets/imgs/fondo1.jpg');
}
.bg-2 {
    background-image : url('./assets/imgs/fondo2.jpg');
}
.bg-3 {
    background-image : url('./assets/imgs/fondo3.jpg');
}
.bg-4 {
    background-image : url('./assets/imgs/fondo4.jpg');
}